[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gazetteer-matcher = "==1.1.0"
hassil = "==3.12.0"
home-assistant-intents = "==2026.8.28"
mutagen = "*"
ha-ffmpeg = "*"
langfuse = "==4.0.0"
litellm = ">=1.80.0"
homeassistant = "==2026.9.0"
openai = ">=2.8.0"

[dev-packages]
pytest = "*"
pytest-homeassistant-custom-component = "==0.13.363"
pytest-cov = "*"
pytest-asyncio = "*"
python-dotenv = "*"
dbus-fast = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.3"
