[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
hassil = "==3.8.0"
home-assistant-intents = "==2026.6.24"
mutagen = "*"
ha-ffmpeg = "*"
langfuse = "==4.0.0"
litellm = "==1.81.4"
homeassistant = "==2026.8.1"
openai = ">=2.8.0"
tqdm = "==4.67.1"

[dev-packages]
pytest = "*"
pytest-homeassistant-custom-component = "==0.13.355"
pytest-cov = "*"
pytest-asyncio = "*"
python-dotenv = "*"
dbus-fast = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.3"
